* {
}

:root {
  --color-primary: rgb(0, 128, 128);
  --color-black: #090909;
  --color-white: #ffffff;
  --color-grey: #a0a0a0;
  --color-teal: #2fcfc4;
  --color-light-grey: lightgrey;
  --color-red: #cd3e65;
  --color-green: rgb(56, 123, 123);

  --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --font-size-small: 1rem;
  --font-size-medium: 1.4rem;
  --font-size-large: 1.6rem;
  --font-size-x-large: 2.1rem;
  --font-size-xx-large: 4.5rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/**HEADER**/

.container {
  min-height: 1000px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
}

.container header {
  display: flex;
  justify-content: space-between;
}

header #logo {
  margin-left: 50px;
}

header .get_started {
  margin-right: 100px;
}

header .get_started a {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  line-height: 60px;
  background-color: var(--color-teal);
  color: var(--color-black);
  font-family: var(--font-family-title);
  padding: 5px 12px;
  border: 1px solid var(--color-green);
  border-radius: 4px;
}

header .get_started a:hover {
  color: var(--color-white);
}

.container aside {
  background-color: var(--color-green);
  width: 22%;
  height: 700px;
  margin-right: 1%;
}

.container aside nav {
  border-radius: 5px;
}

.container aside nav ul {
  list-style: none;
}

.container aside nav ul li {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  margin: 30px 0px;
  padding-left: 15px;
}

.container aside nav ul li a {
  padding: 10px;
  line-height: 30px;
  text-decoration: none;
  font-size: var(--font-size-small);
  color: var(--color-white);
  font-family: var(--font-family-title);
}

.container aside nav ul li a:active {
  color: var(--color-teal);
}

.notnav {
  width: 100%;
  margin-top: 0px;
}

.notnav section {
  display: flex;
  background-color: var(--color-green);
  height: 10em;
  border-radius: 10px;
}

.notnav section .welcome_mssg {
  background-image: url("logo.png");
  display: flex;
  width: 100%;
}

.notnav section .welcome_mssg p {
  width: 50%;
  font-size: var(--font-size-medium);
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  padding: 30px;
  color: var(--color-white);
}

.notnav section .welcome_mssg p a {
  color: var(--color-white);
}

.notnav section .welcome_mssg p a:hover {
  color: var(--color-black);
}

h2 {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-base);
  color: var(--color-white);
}

.service_flex h2 {
  position: relative;
  top: 150px;
  left: 20px;
  font-size: var(--font-size-medium);
}
.service_flex span {
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  background-color: var(--color-green);
  padding: 1px;
  position: relative;
  top: 1px;
  left: 184px;
  border-top-right-radius: 15px;
}

.service_flex:last-child h2 {
  top: 130px;
  left: 20px;
}

h3.page_caption {
  color: var(--color-black);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-title);
  padding-left: 2em;
}

.notnav article .services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.notnav article .services .service_flex {
  width: 24%;
  height: 250px;
  border-radius: 15px;
  background-color: var(--color-teal);
  margin: 10px;
}

/*BALANCE CODES*/

#bwrap {
}

#bwrap .b_codes {
  margin-bottom: 30px;
  height: 100px;
  display: flex;
  border-bottom: 1px solid var(--color-teal);
  padding-bottom: 10px;
}

#bwrap .b_codes .brand {
  justify-content: flex-start;
  width: 50%;
  margin-left: 5rem;
}

#bwrap .b_codes .code {
  justify-content: flex-end;
  width: 50%;
}

#bwrap .b_codes .code ul li {
  list-style: none;
  font-family: var(--font-family-title);
  padding: 3px 0px;
}

/*DASHBOARD**/

#w_bal {
  margin-left: 100px;
  margin-top: 20px;
  line-height: 10px;
}

h3 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-title);
  color: var(--color-white);
}

#token {
  font-size: var(--font-size-x-large);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-base);
  color: var(--color-white);
}

/**LOGIN**/

.sign_logo {
  width: 30%;
  margin: auto;
  margin-bottom: 10px;
}

.sign_page {
  display: flex;
  background-color: var(--color-green);
  min-height: 800px;
  width: 100%;
}

.access {
  background-color: var(--color-light-grey);
  width: 30%;
  margin: 30px auto;
  min-height: 300px;
  border-radius: 6%;
}

h3#sign {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-title);
  color: var(--color-green);
  text-align: center;
}

/**FORM**/

label {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-title);
  color: var(--color-black);
  padding-left: 10%;
}

input {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 5px;
  font-size: small;
  font-family: var(--font-family-base);
  height: 2em;
  margin-left: 10%;
  width: 80%;
}

input#submit {
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  background-color: var(--color-green);
  color: var(--color-white);
  height: 2.3em;
  cursor: pointer;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  background-color: var(--color-grey);
}

h5 {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-base);
  color: var(--color-black);
  text-align: center;
}

h5 a {
  text-decoration: none;
  color: var(--color-green);
}

/**BALANCE**/

.profile {
}
